/* Tailwind CSSのベース、コンポーネント、ユーティリティのインポート */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* カスタムCSS変数の定義 */
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* ダークモードの設定（コメントアウト） */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* グローバルスタイル */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* ユーティリティクラスの追加 */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ジャンルボタンのスタイル */
.genre-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.genre-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.genre-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.genre-text {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.genre-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ポップアップのスタイル */
.popup-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.popup-image {
  width: 300px;
  height: auto;
  margin: 0 auto;
}

.popup-content {
  background: rgb(18, 20, 41);
  padding: 2rem;
  border: #3b82f6 0.25rem solid;
  border-radius: 0.5rem;
  text-align: center;
}

.popup-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.popup-content button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.popup-content button:hover {
  background: #2563eb;
}

/* メインコンテナのスタイル */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.description {
  margin-top: 1rem;
  font-size: 1.25rem;
  text-align: center;
}

/* ボタンのスタイル */
.button-container {
  margin-top: 2rem;
}

.button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.button:hover {
  background: #2563eb;
}

/* 404ページのスタイル */
.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.not-found-title {
  font-size: 2rem;
}

.not-found-link {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
}

.not-found-link:hover {
  background: #2563eb;
}

/* フッターのスタイル */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer a {
  color: #6db1ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #0070f3;
}

/* クイズ画面のスタイル */
.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.quiz-title {
  font-size: 2rem;
}

.quiz-subtitle {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.quiz-button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.quiz-button:hover {
  background: #2563eb;
}

/* 結果画面のスタイル */
.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.result-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.result-link {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
}

.result-link:hover {
  background: #2563eb;
}
